li.listCommonStyle {
    margin-bottom: 20px;
    padding-left: 5px;
    width: 50%;
    display: inline-block;
}

li.listCommonStyle:nth-child(3n) {
    margin-right: 0;
}

li.listCommonStyle:nth-child:not(:nth-child(3n)) {
    margin-right: 5%;
}

ul.ulCommonStyle {
    list-style: none;
    padding: 0;
}