.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thumbnailImage {
  width: 950px;
  height: 400px;
  margin-bottom: 20px;
  box-shadow: 4px 5px 12px black;
  transition: all 0.3s;
  cursor: pointer;
}

.thumbnailImage:hover {
  transform: translate(4px, 5px);
  box-shadow: none;
}

.grid {
  display: grid;
  flex-wrap: wrap;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  max-width: 11150px;
}

/* .gridAutoTemplateColumn {
  grid-template-columns: auto;

} */

.grid article {
  /* margin-top: 2em; */
  border-bottom: 1px solid #a59e9e;
}

.grid article:hover {
  cursor: pointer;
  opacity: .75;
}

.grid article a:hover {
  text-decoration: none;

}